code {
  counter-reset: line;
  /* background-color: #808080; */
  /* background-color:rgba(0, 0, 0, 0); */
}

span[data-highlighted-line] {
  /* background-color: rgba(0, 0, 4, 0.7); */
  background: #c8c8ff1a;
  --tw-border-opacity: 1;
  border-left-color: rgb(96 165 250/var(--tw-border-opacity));
  /* border-left-color: rgb(96 165 250); */
  /* border-left-color: #FFFFFF; */
  border-left-style: solid;
}

span[data-highlighted-chars] {
  /* background-color: rgba(0, 0, 4, 0.5); */
  border-radius: 0.25rem;
  background-color: #52525b80;
  box-shadow: 0 0 0 4px #52525b80;
}

pre {
  --shiki-color-background: rgb(36, 41, 46);
  border: solid white;
  border-radius: 10px;
  overflow-wrap: break-word;
  padding: 0.5rem;
  font-size: 80%;
  margin-top: 2rem;
}

span {
  border-left-width: 0.15rem;
  border-left-style: none;
  /* margin-left: 0.25rem; */

  --shiki-color-text: #FFFFFF;
  --shiki-color-background: #333333;
  --shiki-token-constant: rgb(249, 117, 131);
  --shiki-token-string: rgb(121, 184, 255);
  --shiki-token-comment: rgb(106, 115, 125);
  --shiki-token-keyword: rgb(249, 117, 131);
  --shiki-token-parameter: #FFFFFF;
  --shiki-token-function: rgb(179, 146, 240);
  --shiki-token-string-expression: rgb(121, 184, 255);
  --shiki-token-punctuation: #FFFFFF;
  --shiki-token-link: #EE0000;

  /* Only required if using ansiToHtml function */
  --shiki-color-ansi-black: #000000;
  --shiki-color-ansi-black-dim: #00000080;
  --shiki-color-ansi-red: #bb0000;
  --shiki-color-ansi-red-dim: #bb000080;
  --shiki-color-ansi-green: #00bb00;
  --shiki-color-ansi-green-dim: #00bb0080;
  --shiki-color-ansi-yellow: #bbbb00;
  --shiki-color-ansi-yellow-dim: #bbbb0080;
  --shiki-color-ansi-blue: #0000bb;
  --shiki-color-ansi-blue-dim: #0000bb80;
  --shiki-color-ansi-magenta: #ff00ff;
  --shiki-color-ansi-magenta-dim: #ff00ff80;
  --shiki-color-ansi-cyan: #00bbbb;
  --shiki-color-ansi-cyan-dim: #00bbbb80;
  --shiki-color-ansi-white: #eeeeee;
  --shiki-color-ansi-white-dim: #eeeeee80;
  --shiki-color-ansi-bright-black: #555555;
  --shiki-color-ansi-bright-black-dim: #55555580;
  --shiki-color-ansi-bright-red: #ff5555;
  --shiki-color-ansi-bright-red-dim: #ff555580;
  --shiki-color-ansi-bright-green: #00ff00;
  --shiki-color-ansi-bright-green-dim: #00ff0080;
  --shiki-color-ansi-bright-yellow: #ffff55;
  --shiki-color-ansi-bright-yellow-dim: #ffff5580;
  --shiki-color-ansi-bright-blue: #5555ff;
  --shiki-color-ansi-bright-blue-dim: #5555ff80;
  --shiki-color-ansi-bright-magenta: #ff55ff;
  --shiki-color-ansi-bright-magenta-dim: #ff55ff80;
  --shiki-color-ansi-bright-cyan: #55ffff;
  --shiki-color-ansi-bright-cyan-dim: #55ffff80;
  --shiki-color-ansi-bright-white: #ffffff;
  --shiki-color-ansi-bright-white-dim: #ffffff80;
}

/* pre { */
/*   background-color: #FFFFFF; */
/* } */

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
}

code > [data-line]::before {
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}
